body {
   background-color:rgb(225, 237, 244);
}

/* HEADER */

.navbar-titles {
   list-style: none;
   padding-left: 0;
}

/* MAIN */

.special-text {
   color: rgb(25, 161, 166); 
}

.header-one {
   color: rgb(42, 117, 112);
}

#contact-options
{
   list-style: none;
}

/* FOOTER */